<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>New Tab :: Malendar</title>
		<link rel="stylesheet" type="text/css" href="build/css/style.css">
	</head>

	<body data-ng-app="Malendar">
		<div id="mainContainer">
			<div id="dateWidget" data-ng-controller="dateWidgetController" data-ng-class="{flipped:flipped}" data-ng-click="flip($event)">
				<div id="flipper">
					<div id="dateWidget-front">
						<div class="dateWidget-heading mallu">{{gregorianMonth}}</div>
						<div id="dateWidget-dateContainer">
							<div id="dateWidget-edate">{{gregorianDate}}</div>
							<div id="dateWidget-mday" class="mallu">{{gregorianWeekDay}}</div>
						</div>

						<div id="dateWidget-bottom">
							<div id="dateWidget-mdate">{{malayalamDate}}</div>
							<div id="dateWidget-mdate-right">
								<div id="dateWidget-mmonth" class="mallu">{{malayalamMonth}}</div>
								<div id="dateWidget-nakshatra" class="mallu">{{malayalamNakshatra}}</div>
							</div>
						</div>
					</div>
					<div id="dateWidget-back">
						<div class="dateWidget-heading mallu">വിശേഷങ്ങൾ </div>
						<div id="dateWidget-speciality">
							<ul data-ng-show="specialities">
								<li data-ng-repeat="speciality in specialities">{{speciality}}</li>
							</ul>
							<div data-ng-hide="specialities.length" id="dateWidget-speciality-error">No specialities today</div>
						</div>
						<div id="dateWidget-mrahu" class="mallu">
							രാഹു : <span>{{rahuKalam}}</span>
						</div>

						<div id="dateWidget-suncontainer">
							<div id="dateWidget-sunrise">
								<img src="build/images/sunrise.svg" alt="sunrise" />
								<div id="dateWidget-sunrise-time">{{sunrise}}</div>
							</div>
							<div id="dateWidget-sunset">
								<img src="build/images/sunset.svg" alt="sunset" />
								<div id="dateWidget-sunset-time">{{sunset}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <footer></footer> -->
		<script type="text/javascript" src="build/scripts/libs.js"></script>
		<script type="text/javascript" src="build/scripts/app.js"></script>
		<script type="text/javascript" src="build/scripts/data.js"></script>
	</body>
</html>