<!DOCTYPE html>
<html lang="en-US" ng-csp data-ng-app="Malendar">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>New Tab :: Malendar</title>
		<link rel="stylesheet" type="text/css" href="build/css/style.css">
		<script type="text/javascript" src="build/scripts/libs.js"></script>
	</head>

	<body ng-cloak>
		<header data-ng-controller="topBarController">
			<div id="topbar-right">
				<ul>
					<li>
						<a class="toplinks" data-ng-click="openCalendar()">
							Google Calendar (<em class="blink">New</em>)
						</a>
					</li>
					<li class="has-dropdown">
						<a class="toplinks" href="#">
							<i class="fa fa-star"></i>
							<span>Bookmarks</span>
						</a>
						<div class="dropdown" id="bookmarks-dropdown">
							<div class="dropdown-arrow-container">
								<div class="arrow-up right"></div>
							</div>
							<div class="dropdown-inner">
								<div id="bookmarks-back" data-ng-show="bookmarks.backId">
									<a href="#" data-ng-click="openBookmarkFolder(bookmarks.backId, $event)" data-ng-show="bookmarks.backId > 0">
										<i class="fa fa-angle-left"></i> Back
									</a>
									<a href="#" data-ng-click="openBookmarkFolder(bookmarks.backId, $event)" data-ng-show="bookmarks.backId == 0">
										<i class="fa fa-angle-left"></i> Back to All Bookmarks
									</a>
								</div>
								<ul data-ng-show="bookmarks.iconList.length > 0" id="bookmarks-iconlist">
									<li data-ng-repeat="bookmark in bookmarks.iconList">
										<a href="{{::bookmark.url}}" title="{{bookmark.url}}" data-ng-if="bookmark.url">
											<img data-ng-src="chrome://favicon/{{bookmark.url}}" width="16" />
										</a>
									</li>
								</ul>
								<ul data-ng-show="bookmarks.list.length > 0">
									<li data-ng-repeat="bookmark in bookmarks.list">
										<a href="{{::bookmark.url}}" title="{{::bookmark.title}}" data-ng-if="bookmark.url">
											<img data-ng-src="chrome://favicon/{{bookmark.url}}" width="16" />
											<div>{{::bookmark.title}}</div>
										</a>
										<a href="#" title="{{bookmark.title}}" data-ng-if="!bookmark.url" data-ng-click="openBookmarkFolder(bookmark.id, $event)">
											<i class="fa fa-folder"></i>
											<div>{{::bookmark.title}} &gt;</div>
										</a>
									</li>
								</ul>
								<div id="bookmarks-empty" data-ng-show="bookmarks.list.length == 0 && bookmarks.iconList.length == 0">
									No bookmarks available
								</div>
							</div>
						</div>
					</li>
					<li class="has-dropdown">
						<a class="toplinks" href="#">
							<!-- <img src="build/images/apps.svg" width="16" /> -->
							<i class="fa fa-bars"></i>
							<span>Applications</span>
						</a>
						<div class="dropdown" id="applications-dropdown">
							<div class="dropdown-arrow-container">
								<div class="arrow-up right"></div>
							</div>
							<div class="dropdown-inner">
								<ul>
									<li data-ng-repeat="application in applications.list">
										<a href="#" data-ng-click="openApplication(application.id, $event)" title="{{application.name}}">
											<img data-ng-src="{{application.icon}}" width="60" />
											<div>{{::application.name}}</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</header>
		<div id="dateWidget" data-ng-controller="dateWidgetController" data-ng-class="{flipped:flipped}" style="margin-top:{{marginTop}};" data-ng-show="showDateWidget">
			<a href="#" id="dateWidget-prev" data-ng-click="prevDay($event)">
				<i class="fa fa-angle-left" data-ng-show="showPrev"></i>
			</a>
			<div id="flipper" data-ng-click="flip($event)">
				<div id="dateWidget-front">
					<div class="dateWidget-heading mallu">{{gregorianMonth}}</div>
					<div id="dateWidget-dateContainer">
						<div id="dateWidget-edate" data-ng-class="{holiday:holiday}">{{gregorianDate}}</div>
						<div id="dateWidget-mday" class="mallu">{{gregorianWeekDay}}</div>
						<div id="dateWidget-special" class="mallu" data-ng-show="special">{{special}}</div>
					</div>

					<div id="dateWidget-bottom">
						<div id="dateWidget-mdate">{{malayalamDate}}</div>
						<div id="dateWidget-mdate-middle">
							<div id="dateWidget-mmonth" class="mallu">{{malayalamMonth}}</div>
							<div id="dateWidget-nakshatra" class="mallu">{{malayalamNakshatra}}</div>
						</div>
						<div id="dateWidget-mdate-right" title="{{condition.text}}">
							<i class="{{condition.code | weatherIcon}}"></i>
							<!-- <i class="wi wi-thunderstorm"></i> -->
							<div>{{::condition.temp}}&deg;</div>
						</div>
					</div>
				</div>

				<div id="dateWidget-back">
					<div class="dateWidget-heading mallu">വിശേഷങ്ങൾ </div>
					<div id="dateWidget-speciality">
						<ul data-ng-show="special">
							<li>{{special}}</li>
						</ul>
						<div data-ng-hide="special" id="dateWidget-speciality-error">No specialties today</div>
					</div>
					<div id="dateWidget-mrahu" class="mallu">
						രാഹു : <span>{{rahuKalam}}</span>
					</div>

					<div id="dateWidget-suncontainer">
						<div id="dateWidget-sunrise">
							<!-- <img src="build/images/sunrise.svg" alt="sunrise" /> -->
							<i class="wi wi-sunrise"></i>
							<div id="dateWidget-sunrise-time">{{sunrise}}</div>
						</div>
						<div id="dateWidget-sunset">
							<!-- <img src="build/images/sunset.svg" alt="sunset" /> -->
							<i class="wi wi-sunset"></i>
							<div id="dateWidget-sunset-time">{{sunset}}</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" id="dateWidget-next" data-ng-click="nextDay($event)">
				<i class="fa fa-angle-right" data-ng-show="showNext"></i>
			</a>
		</div>
		<div data-ng-controller="weatherController" id="weatherContainer" data-ng-show="showWeather">
			<ul>
				<li class="weatherBlock" data-ng-repeat="forecast in forecasts" title="{{forecast.text}}">
					<div class="weatherBlock-left">
						<i class="{{forecast.code | weatherIcon}}"></i>
					</div>
					<div class="weatherBlock-right">
						<div class="weatherBlock-right-day">
							{{::forecast.day}}
						</div>
						<div class="weatherBlock-right-temp">
							<div class="weatherBlock-right-max">{{::forecast.high}}&deg;</div>
							<div class="weatherBlock-right-min">{{::forecast.low}}&deg;</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div id="eventTickerContainer">
			Test Event
		</div>

		<div id="calendarWidget" data-ng-controller="calendarController" data-ng-show="showCalendar">
			<div id="monthNameContainer" class="mallu">
				<div id="gregorianMonth">
					{{gregorianMonth}}
				</div>
				<div id="malayalamMonth">
					{{malayalamMonths}}
				</div>
			</div>
			<div id="calendarContainer">
				<a href="#" id="calendar-prev" data-ng-click="prevMonth($event)" data-ng-show="showPrev">
					<i class="fa fa-angle-left"></i>
				</a>
				<div id="calendarTitle-container">
					<ul class="mallu">
						<li>ഞായർ</li>
						<li>തിങ്കൾ</li> 
						<li>ചൊവ്വ</li> 
						<li>ബുധൻ</li> 
						<li>വ്യാഴം</li> 
						<li>വെള്ളി</li> 
						<li>ശനി</li> 
					</ul>
				</div>
				<div id="calendarDays-container">
					<ul>
						<li data-ng-repeat="day in days" class="calendarDays-block" data-ng-class="{holiday:day.holiday, borderRight:(($index + 1)%7 != 0)}">
							<div class="calendarDays-todayDot" data-ng-show="::day.today"></div>
							<div class="calendarDays-day">{{::day.gregorianDate}}</div>
							<div id="calendarDays-special" class="mallu" data-ng-show="day.special">{{::day.special}}</div>
							<div class="calendarDays-bottom">
								<div class="calendarDays-bottom-left">
									{{::day.malayalamDate}}
								</div>
								<div class="calendarDays-bottom-right mallu">
									<div>{{::day.malayalamNakshatra}}</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<a href="#" id="calendar-next" data-ng-click="nextMonth($event)" data-ng-show="showNext">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>

		<div id="calendarSwitcher" data-ng-controller="calendarSwitchController">
			<div id="calendarSwitcher-inner">
				<a href="#" data-ng-class="{active:calendarType == 'dateWidget'}" data-ng-click="setCalendarType('dateWidget')"><i class="fa fa-calendar-o"></i></a>
				<a href="#" data-ng-class="{active:calendarType == 'calendar'}" data-ng-click="setCalendarType('calendar')"><i class="fa fa-calendar"></i></a>
			</div>
		</div>


		<footer data-ng-class="(newsArray.length > 0)?'withnews':''" data-ng-controller="newsController">
			<div class="news-container" data-scroll-detect data-scroll-handler="ticker.next()">
				<div class="news-left mallu" data-ng-show="newsArray.length > 0">
					വാർത്തകൾ 
				</div>
				<div class="news-right mallu" data-ng-show="newsArray.length > 0">
					<div class="news-ul-wrapper" data-ng-mouseover="ticker.paused = true" data-ng-mouseleave="ticker.paused = false">
						<ul style="margin-top:{{ticker.marginTop}}px" class="animated">
							<li data-ng-repeat="newsItem in newsArray">
								<a href="{{newsItem.link}}" data-ng-mouseover="showDescription(newsItem.description)" data-ng-mouseleave="hideDescription()">
									{{newsItem.title}}
								</a>
							</li>
						</ul>
					</div>
					<div data-ng-show="hoverDescription" class="news-description mallu">
						<div>
							{{hoverDescription}}
						</div>
					</div>
				</div>
				<a href="#" id="settings-link" data-ng-click="openSettings($event)">
					<i class="fa fa-cog"></i>
				</a>
			</div>
		</footer>

		<div data-ng-controller="settingsController" data-ng-show="showSettings">
			<div id="settings-modal">
				<h3>Settings</h3>
				<hr/>
				<div class="settings-container">
					<form data-ng-submit="saveSettings($event)">
						<div class="settings-row">
							<div class="settings-row-left paddedLabel">City</div>
							<div class="settings-row-right">
								<select class="formFld mallu" data-ng-model="districtId">
									<option value="{{id}}"  ng-selected="id == districtId" data-ng-repeat="(id, district) in districts">{{district.malayalamName}}</option>
								</select>
							</div>
						</div>

						<div class="settings-row">
							<div class="settings-row-left">News</div>
							<div class="settings-row-right">
								<label><input type="radio" name="newsEnabled" data-ng-model="newsEnabled" value="enabled" /> Enabled</label>
								<label><input type="radio" name="newsEnabled" data-ng-model="newsEnabled" value="disabled" /> Disabled</label>
							</div>
						</div>

						<div class="settings-row" data-ng-show="newsEnabled == 'enabled'">
							<div class="settings-row-left paddedLabel">News Source</div>
							<div class="settings-row-right">
								<select class="formFld mallu" data-ng-model="newsSource">
									<option value="mathrubhumi">മാതൃഭൂമി </option>
									<option value="manorama">മലയാള മനോരമ </option>
								</select>
							</div>
						</div>
						<div class="settings-row">
							<div class="settings-row-full">
								<input type="submit" value="Save Settings" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="settings-overlay" data-ng-click="showSettings=false"></div>
		</div>
		
		<script type="text/javascript" src="build/scripts/app.js"></script>
		<script type="text/javascript" src="build/scripts/data.js"></script>
	</body>
</html>