@import "config";

/* Angular CSP Mode. */
@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}


//@include font-face("Karthika", font-files("karthika.woff", "karthika.ttf", "karthika.svg"));
@include font-face("NotoSansMalayalam", font-files("NotoSansMalayalam-Regular.ttf"));

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
	//Test : Hack for font smoothing : http://stackoverflow.com/a/19582105/923109
	@include font-face("Karthika", font-files("karthika.woff", "karthika.ttf", "karthika.svg"));
	@include font-face("Meera", font-files("meera.ttf"));
} */


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255, 0);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #6f5f5c;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active  {
    background: #6f5f5c;
}


html {
	height: 100%;
	width: 100%;
	background: #6d6d77;
}

body {
	background: #6d6d77;
	width: 100%;
	height: 100%;
	position:relative;

	font-family: Arial, Helvetica;
	-webkit-font-smoothing: antialiased;
}

a {
	cursor:pointer;
}

header {
	@include pie-clearfix;
	width: 100%;
	top: 0;
	#topbar-right {
		@include pie-clearfix;
		float: right;
		padding-right : 5px;
		a.toplinks {
			@include pie-clearfix;
			display: block;
			color: #F0E9DC;
			text-decoration: none;

			font-size: 14px;
			padding:10px;
			i {
				display: block;
				float: left;
				margin-right: 5px;
				color: #E38F71;
			}
			span {
				display: block;
				float:left;
			}

			em {
				color:#E38F71;
			}
			&:hover {
				text-decoration: underline;
			}
		}

		li{
			float:left;

			&.has-dropdown {
				position: relative;

				.dropdown {
					position: absolute;
					right: 0;
					top: 30px;
					display: none;
					z-index: 10;

					.dropdown-arrow-container {
						position:relative;
						height: 5px;
						.arrow-up {
							position:absolute;

							&.right {
								right: 25px;
							}
						}
					}

					.dropdown-inner {
						overflow: auto;
						background: #F0E9DC;
						box-shadow: 0 2px 10px rgba(0,0,0,.2);
						border-radius: 2px;
					}

					.arrow-up {
						width: 0;
						height: 0;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;

						border-bottom: 6px solid #F0E9DC;
					}
				}

				&:hover {
					/* background: #F0E9DC;
					a{
						color: #825d5b;
					} */
					.dropdown {
						display: block;
					}
				}

				#bookmarks-dropdown {
					width: 280px;
					/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */

					.dropdown-inner {
						padding: 20px;
						height: 250px;
					}

					#bookmarks-back {
						@include pie-clearfix;
						padding-bottom: 5px;
						border-bottom: 1px dotted #CCC;
						a {
							color: #6F5F5C;
							text-decoration: none;
							font-size: 14px;
							display: block;
							padding: 5px 10px;
							float: left;

							&:hover {
								background: #6F5F5C;
								color: #FFF;
								border-radius:5px;
							}
						}
					}

					#bookmarks-empty {
						padding-top: 75px;
						text-align: center;
						font-size: 14px;
						color: #6F5F5C;
					}

					ul {
						@include pie-clearfix;
						&#bookmarks-iconlist {
							border-bottom: 1px dotted #CCC;
							padding-bottom: 5px;
						}
						li {
							float: left;
							a {
								@include pie-clearfix;
								display: block;
								padding: 10px;
								text-decoration: none;
								margin-top: 3px;
							    border-radius: 2px;

							    img {
							    	float:left;
							    }

							    i {
							    	float: left;
							    	display: block;
							    	color: #6F5F5C;
							    }

								div{
									font-size: 14px;
									color: #825d5b;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									width: 199px;
									float: left;
									padding-left: 10px;
									box-sizing: border-box;
								}

							    &:hover {
							    	background: #f2f2f2;
							    }
							}
						}
					}
				}

				#applications-dropdown {
					width: 290px;
					/* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */

					.dropdown-inner {
						padding: 20px;
						max-height: 300px;
					}

					ul {
						@include pie-clearfix;
						li {
							float: left;
							a {
								display: block;
								padding: 10px;
								text-decoration: none;
								border-radius: 2px;
								div {
									margin-top: 3px;
									font-size: 14px;
									text-align:center;
									color: #825d5b;
									white-space: nowrap;
								    width: 60px;
								    overflow: hidden;
								    text-overflow: ellipsis;
								}

								&:hover {
							    	background: #f2f2f2;
							    }
							}
						}
					}
				}
			}
		}
	}
}


.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

footer {
	position: fixed;
	bottom: 0;
	height : 50px;
	width : 100%;
	box-sizing: border-box;

	#settings-link{
		display: block;
		position: absolute;
		top: 0;
		right: 0px;
		height: 100%;
		padding-top: 15px;
		padding-right: 5px;
		color: #F0E9DC;
		font-size: 24px;
	}

	&.withnews {
		background: #E38F71;
		#settings-link{
			background: #E38F71;
		}

		.news-left {
			height : 50px;
			box-sizing: border-box;
			padding: 20px;
			font-size: 20px;
			color : #6F5F5C;
			background: #F0E9DC;
			float: left;
			font-weight: 700;
		}

		.news-right {
			padding: 15px 0;
			position:relative;
			.news-description{
				position: absolute;
				bottom: 60px;
				padding: 10px;
				background: #825D5B;
				color: #F0E9DC;
				text-align: justify;
				width: 100%;
				box-sizing:border-box;
                font-size: 12px;
                line-height: 20px;

				div {
					overflow: hidden;
					max-height: 60px;
					line-height: 20px;
				}
			}

			.news-ul-wrapper {
				overflow: hidden;
				height: 30px;
				ul {
					@include pie-clearfix;
					display: block;
					&.animated {
						transition: margin-top 0.3s cubic-bezier(.4,0,.2,1);
					}
					li {
						height: 20px;
						margin-top: 5px;
						margin-bottom: 5px;
						padding-left: 20px;
						float: left;
						&:before {
						    content: " • ";
						    color: #F0B270; /* or whatever color you prefer */
						}
						a {
							color: #F0E9DC;
							text-decoration: none;
							font-size: 16px;
							opacity: 0.95;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

.mallu {
	font-family:"NotoSansMalayalam";
}

#dateWidget {
	@include pie-clearfix;
	box-sizing: border-box;
	width: 450px;
	height: 341px;

	margin-top: 180px;

	margin-left: auto;
	margin-right: auto;
	cursor: pointer;

	// for flipping
	perspective: 1000;


	position: relative;

	#dateWidget-prev, #dateWidget-next {
		float: left;
		width: 100px;
		color: #F0E9DC;
		font-size: 50px;
		text-align: center;
		padding-top: 130px;
		opacity: 0.1;
		transition: opacity 0.6s cubic-bezier(.4,0,.2,1);
		box-sizing: border-box;
		height: 340px;

		&:hover {
			opacity: 0.9;
		}
	}

	#flipper {
		@include pie-clearfix;
		transition: 0.6s cubic-bezier(.4,0,.2,1);
		transform-style: preserve-3d;
		width: 250px;
		height: 341px;
		float: left;

		position: relative;
		&:hover {
			box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
		}
		box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
		border-radius: 5px;
	}

	&.flipped{
		#flipper {
			transform: rotateY(180deg);
		}
	}
}

#dateWidget-front, #dateWidget-back {
	width: 250px;
	height: 341px;

	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

#dateWidget-front {
	z-index: 2;

	box-sizing: border-box;
	float: left;
	text-align:center;
	border-radius: 5px;

	#dateWidget-dateContainer {
		background: #f0e9dc;
		padding-bottom: 15px;
		position:relative;
		#dateWidget-edate {
			padding-top: 10px;
			font-size: 150px;
			color: #6f5f5c;
			text-shadow: rgba(255,255,255,0.5) 2px 3px 6px;
			font-weight: 700;

			&.holiday {
				color:#E38F71;
			}
		}
		#dateWidget-mday {
			padding-top: 10px;
			font-size: 34px;
			color: #825d5b;
		}
		#dateWidget-special {
			position: absolute;
			top: 40%;
			width: 100%;
			background: #f0e9dc;
			padding: 5px 0 1px 0;
			box-sizing: border-box;
			font-size: 16px;
			color: #464646;
			opacity: 0.85;
			font-weight: 700;
		}
	}


	#dateWidget-bottom {
		@include pie-clearfix;
		box-sizing: border-box;
		width: 100%;
		float: left;
		color: #f0e9dc;
		#dateWidget-mdate {
			font-size: 40px;
			float: left;
			padding: 20px 0;
			width: 75px;
			box-sizing: border-box;
			background: #f0b270;
			border-radius: 0 0 0 5px;
		}

		#dateWidget-mdate-middle {
			float: left;
			padding-left:5px;
			background: #e38f71;
			width: 110px;
			height: 80px;
			text-align: left;
			padding-left: 10px;
			box-sizing: border-box;
			font-size: 18px;

			padding-top: 18px;

			#dateWidget-mmonth{
				padding-bottom: 6px;
			}

			#dateWidget-nakshatra{
			}
		}

		#dateWidget-mdate-right {
			background: #a26b61;
			float: left;
			border-radius: 0 0 5px 0;
			width: 65px;
			height: 80px;
			box-sizing: border-box;
			padding: 15px 0;

			i {
				font-size: 28px;
			}

			div {
				margin-top: 8px;
			}
		}
	}
}

.dateWidget-heading {
	font-size: 20px;
	background: #825d5b;
	padding: 12px 10px 10px 10px;
	color: #f0e9dc;
	text-align:center;

	border-radius: 5px 5px 0 0;
}


#dateWidget-back {
	transform: rotateY(180deg);
	box-sizing: border-box;
	float: left;
	color: #FFF;
	border-radius: 5px;

	#dateWidget-speciality {
		background: #f0e9dc;
		font-size: 16px;
		color: #6f5f5c;
		padding-top: 30px;
		text-align: center;
		height: 200px;
		box-sizing: border-box;

		ul {
			li {
				margin-bottom: 15px;
			}
		}
	}

	#dateWidget-mrahu{
		padding: 10px 5px;
		font-size: 24px;
		clear: both;
		text-align: center;
		background: #a26b61;
		color: #f0e9dc;

		span {
			font-family: Helvetica, Arial;
			font-size: 15px;
		}
	}

	#dateWidget-suncontainer {
		@include pie-clearfix;
		#dateWidget-sunrise, #dateWidget-sunset {
			box-sizing: border-box;
			height: 55px;
			width: 125px;

			i {
				width: 45px;
				display: block;
				float: left;
				font-size: 24px;
				margin-top: 5px;
				box-sizing: border-box;
				padding-left: 5px;
				padding-top: 10px;
				color: #F0E9DC;
			}

			div {
				float: left;
				padding-top: 20px;
				padding-left: 2px;
				color: #f0e9dc;
			}
		}

		#dateWidget-sunrise {
			background: #f0b270;
			float: left;
			border-radius: 0 0 0 5px;
		}

		#dateWidget-sunset {
			background: #e38f71;
			float: left;
			border-radius: 0 0 5px 0;
		}
	}
}

#weatherContainer {
	@include pie-clearfix;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 15px;
	color: #F0E9DC;
	ul {
		display: inline-block;
		li {
			float: left;
			display: block;
			margin-right : 60px;
			opacity : 0.4;
			cursor: pointer;
			transition: opacity 0.5s;
			-webkit-transform: translateZ(0);

			.weatherBlock-left {
				float: left;
				font-size: 35px;
			}
			.weatherBlock-right {
				@include pie-clearfix;
				padding-left: 20px;
				font-size: 25px;
				float: left;
				position: relative;
				width: 60px;
				height: 40px;
				box-sizing: border-box;

				.weatherBlock-right-day {
					padding-top: 8px;
					opacity: 1;
					position: absolute;
					transition: opacity 0.7s, padding-top 0.7s;
					-webkit-transform: translateZ(0);
					font-size: 20px;
				}

				.weatherBlock-right-temp {
					opacity: 0;
					position: absolute;
					transition: opacity 0.7s;
					-webkit-transform: translateZ(0);
					font-size: 18px;
				}
			}

			&:hover {
				opacity : 1;
				.weatherBlock-right {
					.weatherBlock-right-day {
						padding-top: 12px;
						opacity: 0;
					}

					.weatherBlock-right-temp {
						opacity: 1;
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


#settings-modal {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 60px;
	width: 400px;
	padding: 20px;
	background: #F0E9DC;
	border-radius: 5px;
	z-index: 12;

	.settings-row{
		@include pie-clearfix;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;

		.settings-row-left {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding-right:5px;

			&.paddedLabel{
				padding-top: 8px;
				padding-bottom: 5px;
			}
		}

		.settings-row-right {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding-left:5px;
		}

		.settings-row-full{
		}
	}

	input[type="submit"] {
		background: #825D5B;
		padding:10px;
		color: #FFF;
		border-radius: 5px;
		border:none;
		cursor: pointer;
	}
}

select.formFld {
	width: 100%;
	padding: 5px;

	&.mallu {
		//HACK TO FIX THE FONT ISSUE
		font-size: 16px;
		padding-bottom: 0;
	}
}


#settings-overlay {
	width: 100%;
	height: 100%;
	background: #825D5B;
	opacity: 0.6;
	position:absolute;
	top:0;
	z-index: 11;
}



/**
 * Calendar
 */
#calendarWidget {
	margin: 10px auto 0 auto;
	width: 960px;
	cursor: default;

	@media (max-height: 850px) {
		margin-top: 0;
	}

	@media (max-height: 680px) {
		width: 780px;
	}

	#monthNameContainer {
		color: #f0e9dc;
		padding-bottom: 10px;
		@media (max-height: 750px) {
			padding-bottom: 0;
		}
		#gregorianMonth {
			font-size: 28px;
			text-align:center;
			@media (max-height: 680px) {
				font-size: 24px;
				padding-bottom:5px;
			}
		}

		#malayalamMonth{
			font-size: 16px;
			text-align:center;

			@media (max-height: 750px) {
				display: none;
			}
		}
	}

	#calendarContainer {
		transition:box-shadow .2s cubic-bezier(.4,0,.2,1);
		&:hover {
			box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
		}
		box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
		position:relative;

		#calendar-prev, #calendar-next {
			position: absolute;
			color: #F0E9DC;
			font-size: 50px;
			opacity: 0.1;
			transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
			box-sizing: border-box;
			height: 100%;

			width: 20px;
			left: -30px;

			&:hover {
				opacity: 0.9;
			}

			i {
				position: absolute;
				top: 45%;
				right: 0;
			}

			/* @media (max-width: 860px) {
				display: none;
			} */

			@media (max-height: 680px) {
				/* padding-top: 290px; */
			}
		}

		#calendar-next {
			left: 970px;
			top: 0;
			text-align: left;
			@media (max-height: 680px) {
				left: 790px;
			}
		}
	}

	#calendarTitle-container {
		@include pie-clearfix;
		border-radius: 5px 5px 0 0;
		background: #825d5b;

		li {
			display: block;
			float: left;
			text-align: center;
			color: #f0e9dc;
			box-sizing: border-box;
			width: percentage(1/7);
			padding: 10px 20px 5px 20px;
			font-size: 16px;
		}
	}

	#calendarDays-container {
		@include pie-clearfix;

		background: #f0e9dc;
		border-radius: 0 0 5px 5px;
		overflow: hidden;

		li {
			position: relative;
			float: left;
			box-sizing: border-box;
			width: percentage(1/7);
			height: 118px;
			padding: 10px 0 0 0;
			display: block;
			text-align: center;
			color: #6f5f5c;
			border-bottom:1px solid #CCC;

			@media (max-height: 800px) and (min-height: 730px) {
				padding:0;
				height: 108px;
				.calendarDays-day {
					/* font-size: 50px; */
				}
			}

			@media (max-height: 730px) {
				height: 98px;
				.calendarDays-day {
					font-size: 50px !important;
				}
			}


			@media (max-height: 680px) {
				height: 78px;
				.calendarDays-day {
					font-size: 36px !important;
				}
			}


			.dummyDay {
				//Padding Days

			}

			&.borderRight {
				border-right:1px solid #CCC;
			}

			.calendarDays-day {
				font-size: 60px;
				font-weight: 700;
				padding-top: 5px;
				padding-bottom: 0;
				text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
			}

			.calendarDays-todayDot {
				border-radius: 50%;
				width: 5px;
				height: 5px;
				background: -webkit-linear-gradient(top, #4387fd, #4683ea);
				position: absolute;
				right: 5px;
				top: 5px;
			}

			#calendarDays-special {
				position:absolute;
				top: 35%;
				width: 100%;
				background: #f0e9dc;
				padding: 5px 0 1px 0;
				box-sizing: border-box;
				font-size: 12px;
				/* color: #6f5f5c; */
				opacity: 0.85;
				font-weight: 700;
			}

			&.holiday{
				.calendarDays-day {
					color: #E38F71;
				}
			}

			.calendarDays-bottom {
				@include pie-clearfix;

				.calendarDays-bottom-left {
					float: left;
					font-size: 20px;
					color: #f0b270;
					padding: 5px;
					@media (max-height: 680px) {
						font-size: 16px;
					}
				}

				.calendarDays-bottom-right {
					float: left;
					padding-left: 5px;
					padding-top: 10px;
					color: #825d5b;
					font-size: 14px;
					@media (max-height: 680px) {
						font-size: 16px;
						padding-top: 6px;
					}
				}

			}
		}
	}
}




#calendarSwitcher {
	position:fixed;
	bottom: 75px;
	@media (max-height: 850px) {
		bottom:45px;
	}
	width: 100%;
	#calendarSwitcher-inner {
		@include pie-clearfix;
		text-align: center;

		a {
			display: inline-block;
			padding: 15px;
			color: #F0E9DC;
			opacity: 0.6;
			&:hover {
				opacity: 0.7;
			}
			&.active {
				opacity: 1;
			}
		}
	}
}


#eventTickerContainer {
	@media (max-height: 640px) {
		display: none;
	}
	overflow:hidden;
	position: relative;
	padding: 15px 10px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	background: #444444;
	border-radius: 5px;
	color: #F0E9DC;
	opacity: 0.7;
	transition:0.6s opacity !important;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	&:hover {
		opacity: 1;
	}

	ul {
		li {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			a {
				color: #FFF;
				text-decoration: none;
			}
		}
	}

	a.prev {
		position: absolute;
		left: 5px;
		top: 15px;
	}

	a.next {
		position: absolute;
		right: 5px;
		top: 15px;
	}
}
