@import "config";

@include font-face("Karthika", font-files("karthika.woff", "karthika.ttf", "karthika.svg"));
@include font-face("Meera", font-files("meera.ttf"));

html {
	height: 100%;
	width: 100%;
}

body {
	background: #6d6d77;
	width: 100%;
	height: 100%;

	font-family: Helvetica, Arial;
	-webkit-font-smoothing: antialiased;
}

footer {
	background: #EEEEEE;
	position: fixed;
	bottom: 0;
	height : 50px;
	width : 100%;
}

.mallu {
	font-family:"Meera";
}

#mainContainer {
	padding: 10px;
}

#dateWidget {
	@include pie-clearfix;
	box-sizing: border-box;
	width: 250px;
	height: 341px;

	margin-top: 180px;
	transition:all .2s cubic-bezier(.4,0,.2,1);

	

	margin-left: auto;
	margin-right: auto;
	cursor: pointer;

	// for flipping
	perspective: 1000;

	#flipper {
		@include pie-clearfix;
		transition: 0.6s cubic-bezier(.4,0,.2,1);
		transform-style: preserve-3d;
		width: 250px;
		height: 341px;

		position: relative;
		&:hover {
			box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
		}
		box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}

	&.flipped{
		#flipper {
			transform: rotateY(180deg);
		}
	}
}

#dateWidget-front, #dateWidget-back {
	width: 250px;
	height: 341px;

	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

#dateWidget-front {
	z-index: 2;

	box-sizing: border-box;
	float: left;
	text-align:center;
	border-radius: 5px;

	#dateWidget-emonth {
		font-size: 22px;
		background: #825d5b;
		padding: 10px;
		color: #f0e9dc;

		border-radius: 5px 5px 0 0;
	}

	#dateWidget-dateContainer {
		background: #f0e9dc;
		padding-bottom: 15px;
		#dateWidget-edate {
			padding-top: 10px;
			font-size: 150px;
			color: #6f5f5c;
			text-shadow: rgba(255,255,255,0.5) 2px 3px 6px;
			font-weight: 700;
		}
		#dateWidget-mday {
			padding-top: 10px;
			font-size: 34px;
			color: #825d5b;
		}
	}

	
	#dateWidget-bottom {
		@include pie-clearfix;
		box-sizing: border-box;
		width: 100%;
		float: left;
		color: #f0e9dc;
		#dateWidget-mdate {
			font-size: 60px;
			float: left;
			padding:10px;
			width: 85px;
			box-sizing:border-box;
			background: #f0b270;
			border-radius: 0 0 0 5px;
		}

		#dateWidget-mdate-right {
			float: left;
			padding-left:5px;
			background: #e38f71;
			width: 165px;
			height: 80px;
			text-align: left;
			padding-left: 10px;
			box-sizing: border-box;
			font-size: 22px;

			padding-top: 16px;

			border-radius: 0 0 5px 0;

			#dateWidget-mmonth{
				padding-bottom: 6px;
			}

			#dateWidget-nakshatra{
			}
		}
	}
}


#dateWidget-back {
	transform: rotateY(180deg);
	box-sizing: border-box;
	background: #f0e9dc;
	padding: 10px;
	float: left;
	color: #FFF;
	border-radius: 5px;

	
	#dateWidget-mrahu{
		padding-top: 8px;
		clear: both;
		text-align: center;
	}

	#dateWidget-speciality {
		font-size: 16px;
		color: #F14A7E;
		padding-top: 15px;
		text-align: center;
	}
}